version: '3.9'

services:
  api:
    build: .
    container_name: lyftr-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app.db:/app/app.db
    restart: unless-stopped
